<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages:['gauge', 'corechart']});
      google.setOnLoadCallback(drawChart);
      google.setOnLoadCallback(drawHistory);
      
      function drawChart() {
        var jsonData = $.ajax({
          url: '/last',
          dataType:'json',
          async: false
        }).responseJSON

        var data = new google.visualization.DataTable()
        data.addColumn('string', 'Label')
        data.addColumn('number', 'Value')
        data.addRow(['Temp °C', jsonData.temperature])

        var formatter = new google.visualization.NumberFormat({
          pattern: '#.#',
          negativeColor: 'red',
          negativeParens: true
        })
        formatter.format(data, 1)

        var options = {
          width: 300, height: 300,
          min: 15, max: 35, minorTicks: 5,
          majorTicks: 5,
          majorTicks:[15, 20, 25, 30, 35],

          redFrom: 15, redTo: 21.9, redColor: 'DodgerBlue',
          yellowFrom: 25, yellowTo: 35, yellowColor: '#e00',
          greenFrom: 21.9, greenTo: 25, greenColor: 'MediumSeaGreen'          
          
        }

        var chart = new google.visualization.Gauge(document.getElementById('last'))
        chart.draw(data, options)
      }
      
      function drawHistory() {
        var jsonData = $.ajax({
          url: '/history',
          dataType:'json',
          async: false
        }).responseJSON

        var data = new google.visualization.DataTable()
        data.addColumn('datetime', 'Время')
        data.addColumn('number', 'Температура')

        $.each(jsonData, function (key, value) {
          var date = value.date;
          date = date.replace(/-0000/gi, ''); //"-0000" JS парсит как UTC
          data.addRow([new Date (date), value.temperature])
        })

        var options = {
          title: 'Температура за сутки',
          width: 800, height: 400,
          legend: {position: 'none'},
          pointSize: 3,
          hAxis: {title: 'Время'},
          vAxis: {title: 'Температура °C'}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('history'))
        chart.draw(data, options)
      }
      
      window.setInterval(function () {
        drawChart();
        drawHistory();
      }, 60*1000);
    </script>
  </head>
  <body>
    <h2 style="font-family: Comic Sans MS">Банька 2.0</h2>
    <div id="last"></div>
    <div id="history"></div>
  </body>
</html>
