<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}" />
    <style type="text/css">
      .donate {
        float: right;
        margin-top: 60px;
        margin-right: 10%;
        text-align: center;
        position: relative;
        z-index: 2;
          font-family: Arial, sans-serif;
          font-size: 12px;
      }
      .donate iframe {
        margin-top: 5px;
      }

      .treatment{
          margin: 20px auto 0;
          width: 200px;
      }

      .photos{
          width: 200px;
          text-align: center;
          margin: 0 auto;
      }
      .photos img {
          margin: 5px;
      }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages:['gauge', 'corechart']});
      google.setOnLoadCallback(drawChart);
      google.setOnLoadCallback(drawHistory);
      
      function drawChart() {
        var jsonData = $.ajax({
          url: '/last',
          dataType:'json',
          async: false
        }).responseJSON

        var data = new google.visualization.DataTable()
        data.addColumn('string', 'Label')
        data.addColumn('number', 'Value')
        data.addRow(['Temp °C', jsonData.temperature])

        var formatter = new google.visualization.NumberFormat({
          pattern: '#.#',
          negativeColor: 'red',
          negativeParens: true
        })
        formatter.format(data, 1)

        var options = {
          width: 300, height: 300,
          min: 15, max: 35, minorTicks: 5,
          majorTicks: 5,
          majorTicks:[15, 20, 25, 30, 35],

          redFrom: 15, redTo: 21.9, redColor: 'DodgerBlue',
          yellowFrom: 25, yellowTo: 35, yellowColor: '#e00',
          greenFrom: 21.9, greenTo: 25, greenColor: 'MediumSeaGreen'          
          
        }

        var chart = new google.visualization.Gauge(document.getElementById('last'))
        chart.draw(data, options)
      }
      
      function drawHistory() {
        var jsonData = $.ajax({
          url: '/history',
          dataType:'json',
          async: false
        }).responseJSON

        var data = new google.visualization.DataTable()
        data.addColumn('datetime', 'Время')
        data.addColumn('number', 'Температура')

        $.each(jsonData, function (key, value) {
          var date = value.date;
          date = date.replace(/-0000/gi, ''); //"-0000" JS парсит как UTC
          data.addRow([new Date (date), value.temperature])
        })

        var options = {
          title: 'Температура за сутки',
          width: 800, height: 400,
          legend: {position: 'none'},
          pointSize: 3,
          hAxis: {title: 'Время'},
          vAxis: {title: 'Температура °C'}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('history'))
        chart.draw(data, options)
      }
      
      window.setInterval(function () {
        drawChart();
        drawHistory();
      }, 60*1000);
    </script>
  </head>
  <body>
    <div class="donate">
      На кондиционер:<br/>
        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?uid=41001129712854&amp;button-text=06&amp;button-size=l&amp;button-color=orange&amp;targets=%D0%9D%D0%B0+%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80" width="auto" height="54"></iframe>

        <div class="treatment">
            <b>Мы нуждаемся в вашей помощи</b>
        </div>
      <div class="photos">
        <img src="https://dl.dropboxusercontent.com/u/615583/temperature/01.jpg" alt="" width="50" height="50" />
        <img src="https://dl.dropboxusercontent.com/u/615583/temperature/02.jpg" alt="" width="50" height="50" />
        <img src="https://dl.dropboxusercontent.com/u/615583/temperature/03.jpg" alt="" width="50" height="50" />
        <img src="https://dl.dropboxusercontent.com/u/615583/temperature/04.jpg" alt="" width="50" height="50" />
        <img src="https://dl.dropboxusercontent.com/u/615583/temperature/05.jpg" alt="" width="50" height="50" />
        <img src="https://dl.dropboxusercontent.com/u/615583/temperature/06.jpg" alt="" width="50" height="50" />
      </div>

        <div class="treatment">
            Так же вы можете отправить SMS с добрыми словами поддержки на номер +7 (916) 714-39-81
        </div>
    </div>
    <h2 style="font-family: Comic Sans MS">Банька 2.0</h2>
    <div id="last"></div>
    <div id="history"></div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-32168873-5', 'kihamo.ru');
      ga('send', 'pageview');
    </script>
  </body>
</html>
